[## macro DescribePet(name, PetData) ##]
[## if PetData[name]["Age"] >= 1 ##] #!name!# is a #!PetData[name]["Age"]!# year old #!PetData[name]["Species"]|lower!#
[## else ##] #!name!# is a #!12 * PetData[name]["Age"]!# month old #!PetData[name]["Species"]|lower!# [## endif ##]
[## endmacro ##]

[## for name, attrs in Pets ##] #!name!#: #!DescribePet(name, Pets)!# [## endfor ##]

This page was made by #!myName|upper!#