[## from 'Example3/helpers.njk' import genericTable ##]

\input{preamble.tex}

\begin{document}

\input{sections/mysection.tex}

#!genericTable(CoverageData)!#

\includegraphics[height=0.45in]{images/HanoverLogo2.jpg}

\end{document}